<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>功能选择</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>功能选择</h1>
        <a href="/add_paper">登记论文</a><br>
        <a href="/add_project">登记项目</a><br>
        <a href="/add_course">登记课程</a><br>
        <a href="/query">查询统计</a><br>
        <a href="/logout">登出</a>
    </div>
</body>
</html>